@media screen and (max-width: 576px) {
    /* Nav And Banner responsive codes */
    header{
        width: 100%;
        margin-left: 7%;
        /* margin: 0 auto; */
        /* min-height: 1000px; */
        /* border: 2px solid red; */
    }
    nav{
        width: 100%;
    }
    .nav-btn-container{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    .banner-container{
        width: 100%;
        flex-direction: column;
        /* border: 2px solid green; */
    }
    .banner-content{
        margin-top: 50px;
        /* border: 2px solid green; */
    }

    .banner-btn-container{
        display: flex;
    }
    .banner-btn-container > btn{
        font-size: 10px;
        font-weight: 400;
    }
    .img-card-container{
        /* width: 353px; */
        width: 100%;
        height: 580px;
        margin: 0 auto;
        margin-top: 50px;
        /* border: 2px solid gold; */
    }
    .img-card-container > img{
        /* border: 2px solid blue; */
        /* width: 100%; */
        height: auto;
        
    }
    .card-content{
        width: 145px;
        height: 75px;
    }
    .rounded-circle{
        /* padding-left: 50px; */
        margin-left: 10px;
    }

    .banner-card-one{
        width: 155px;
        height: 72px;
        top: 70%;
        right: 45%;
    }
    .banner-card-two{
        /* width: 145px;
        height: 74px; */
        top: 30%;
        left: 40%;
        /* padding: 10px 15px 20px 15px; */
    }
    .card-content > p{
        font-size: 9px;
    }




    /* Habit section responsive codes */
    .habit-container{
        height: auto;
        margin-top: 0px;
    }
    .habit-cards-container{
        flex-direction: column;
    }
    .habit-card{
        margin-top: 40px;
    }







    /* Run responsive */
    .run-container{
        /* width: 100%; */
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
        padding: 31px 33px 35px 33px;
        flex-direction: column;
        /* border: 2px solid red; */
    }
    .run-img-container{
        margin-top: 30px;
    }


    /* BMI calculator responsive */
    .claculator-heading-text > h4{
        margin-bottom: 15px;
        text-align: center;
    }
    .bmi-chart{
        margin-bottom: 40px;
    }
    .bmi-calculator-container{
        /* margin: 0 auto; */
        width: 100%;
        padding: 10px 22px;
        text-align: left;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bmi-chart > h2{
        padding-top: 10px;
    }
    .bmi-form input{
        width: 90%;
    }


    /* Teams section responsive */
    .teams-heading-text{

    }
    .teams-card-container{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }

}