/* Every Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

header {
    max-width: 1440px;
    min-height: 715px;
    /* border: 2px solid red; */
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0.171) 100%);
}

/* Shared Style */
.btn-primary {
    background-color: rgb(230, 83, 60);
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.13rem;
    font-weight: 600;
}

.paragraph-primary {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.header-primary{
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
}

.header-secondary{
    font-family: Inter;
    font-size: 1.12rem;
    font-weight: 600;
}

/* Nav Bar Related Styles */
nav {
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > h2 {
    font-style: italic;
    font-size: 2.25rem;
    color: rgb(230, 83, 60);
}

.nav-btn-container {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-btn {
    background-color: transparent;
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.13rem;
    font-weight: 600;
}

.hamburger-menu {
    display: none;
}






/* Banner Related styles */
.banner-container {
    display: flex;
    justify-content: space-around;
    
}
.banner-content {
    max-width: 520px;
    /* height: 440px; */
    margin-top: 97px;
    /* border: 2px solid blue; */ 
}

.banner-content>h1 {
    margin-bottom: 28px;
    font-size: 4.8rem;
    font-weight: 900;
}
.banner-btn-container{
    margin-top: 28px;
}
.banner-btn-container > .btn-primary{
    margin-right: 14px;
}
.btn-download {
    background-color: transparent;
    padding: 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 1.13rem;
    font-weight: 600;
    border-radius: 42px;
    border: none;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
}

.img-card-container{
    margin-top: 22px;
    position: relative;
    /* border: 2px solid green; */
}

.card-content{
    margin: 20px 23px 20px 12px;
}

.card-content > h4 {
    font-size: 1.5rem;
    font-weight: 700;
}
.banner-card-one {
    display: flex;
    width: 206px;
    height: 96px;
    /* border: 2px solid red; */
    justify-content: space-around;
    position: absolute;
    top: 65%;
    right: 75%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}
.rounded-circle {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: rgb(230, 83, 60);
    margin-right: 12px;
    margin: auto  ;
}

.banner-card-two{
    width: 206px;
    height: 96px;
    padding: 17px 23px 16px 24px;
    /* border: 4px solid red; */
    /* justify-content: space-around; */
    position: absolute;
    top: 19%;
    left: 63%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}




/* Habits section related styles */

.habit-container{
    max-width: 1050px;
    height: 450px ;
    /* border: 2px solid slateblue; */
    margin: 0 auto;
    margin-top: 90px;
}
.habit-cards-container{
    display: flex;
}
.habit-text{
    text-align: center;
    margin-bottom: 55px;
}
.habit-card{
    margin: 0 auto;
    text-align: center;
}
.habit-card > img{
    border-radius: 50%;
}


/* Run Section styles */
.run-container{
    max-width: 1050px;
    height: 370px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    /* border: 2px solid fuchsia; */
}
.run-text-container{
    max-width: 450px;
    /* border: 2px solid teal; */
}
.run-text-container > h4{
    margin-bottom: 15px;
}
.run-text-container > p{
    margin-bottom: 35px;
}
.run-img-container {
    max-width: 365px;
    height: 310px;
    /* border: 2px solid firebrick; */
}
.run-img-container > img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

/* BMI Calculator related styles */
.claculator-heading-text{
    max-width: 670px;
    min-height: 120px;
    margin: 0 auto;
    /* border: 2px solid darkkhaki; */
    margin-top: 78px;
    margin-bottom: 90px;
}
.table-content{
    max-width: 310px;
    min-height: 216px;
    border-collapse: collapse;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
}
.table-content > th{
    font-size: 1rem;
    font-weight: 500;
}
.table-content td{

}
.table-content th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 15px 15px;
}
.bmi-chart > h2{
    /* border: 2px solid indianred; */
    margin-bottom: 50px;
}


.bmi-calculator-container{
    /* border: 2px solid brown; */
    max-width: 1440px;
    min-height: 487px;
    margin: 0 auto;
    background: rgb(34, 34, 34);
    padding: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.bmi-calculator{
    max-width: 577px;
    min-height: 385px;
    /* border: 2px solid fuchsia; */
}
.calculator-text{
    margin-top: 15px;
    margin-bottom: 35px;
}
.calculator-text > h2{
    margin-bottom: 15px;
}
.bmi-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 8px;
    
}
.bmi-form input, select{
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}
.inputs{
    padding: 10px;
}
#activity-selection{
    grid-column: span 2;
}
.bmi-form select{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.calculate-btn{
    margin-top: 35px;
}