/* Every Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

header {
    width: 1440px;
    height: 715px;
    /* border: 2px solid red; */
    margin: 0 auto;

}

/* Shared Style */
.btn-primary {
    background-color: rgb(230, 83, 60);
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
    color: rgb(255, 255, 255);
    /* font-family: Inter; */
    font-size: 18px;
    font-weight: 600;
}

.paragraph-primary {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}


/* Navbar Relate styles */
.nav-wrapper {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    padding-top: 57px;
}

.navbar-container {
    width: 1060px;
    margin: 0 auto;
    /* margin-top: 57px; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;

}

.navbar-container>h2 {
    font-style: italic;
    /* font-family: Inter; */
    font-size: 2.25rem;
    color: rgb(230, 83, 60);
}

.btn-nav-bar {
    background-color: transparent;
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
    color: rgb(255, 255, 255);
    /* font-family: Inter; */
    font-size: 18px;
    font-weight: 600;
}

.nav-btn-container {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.hamburger-menu {
    display: none;
}

/* Banner related styles */
.banner-container {
    display: flex;
    justify-content: space-around;
}

.banner-content {
    width: 520px;
    height: 440px;
    margin-top: 97px;
}

.banner-content>h1 {
    font-size: 78px;
    font-weight: 800;
    margin-bottom: 28px;
}

.banner-content>.btn-primary {
    margin-top: 28px;
    margin-right: 14px;
}

.btn-download {
    background-color: transparent;
    padding: 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    border: none;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
}

.banner-img-card {
    position: relative;
}

.banner-img-card>img {
    margin-top: 20px;
    /* border: 2px solid white; */
}

/* #text-style-two{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 100px;
} */

.banner-card-one {
    display: flex;
    width: 206px;
    height: 96px;
    /* border: 2px solid red; */
    justify-content: space-around;
    position: absolute;
    top: 74%;
    left: -35%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}

.rounded-circle {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: rgb(230, 83, 60);
    margin-right: 12px;
    margin: 25px 0 28px 23px;
}

.card-content>h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0 8px 0;
}

.banner-card-two{
    width: 206px;
    height: 96px;
    padding: 17px 23px 16px 24px;
    /* border: 2px solid red; */
    /* justify-content: space-around; */
    position: absolute;
    top: 30%;
    left: 75%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}
.card-content-two > h4 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 5px;
}
.card-content-two > p{
    font-size: 13px;
}